name: Build Linux artifact

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Install llvm-config
        run: sudo apt-get install llvm protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Upload artifacts 
        uses: actions/upload-artifact@v2
        with:
          name: reveaal-linux
          path: target/release/Reveaal

  build-win:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Install llvm-config
        run: sudo apt-get install llvm protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: x86_64-pc-windows-gnu
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target x86_64-pc-windows-gnu
      - name: Upload artifacts 
        uses: actions/upload-artifact@v2
        with:
          name: reveaal-win
          path: target/x86_64-pc-windows-gnu/release/Reveaal.exe
          
